<!DOCTYPE html>
<html>
<head>
    <title>ACR VO Routing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AudioRoutingStyles.css') }}">
	<script>
	  function get_crosspoint_statuses() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/get_crosspoint_statuses');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			// Parse the JSON response from the server
			var response = JSON.parse(xhr.responseText);

			// Call the function to update the button status
			updateButtonStatuses(response);
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  // Function to update the button status based on the response
	  function updateButtonStatuses(response) {
		var statusButton11 = document.getElementById("ACR1_VO1_button");
		var statusButton12 = document.getElementById("ACR1_VO2_button");
		var statusButton13 = document.getElementById("ACR1_VO3_button");
		var statusButton14 = document.getElementById("ACR1_VO4_button");
		var statusButton15 = document.getElementById("ACR1_VO5_button");
		var statusButton21 = document.getElementById("ACR2_VO1_button");
		var statusButton22 = document.getElementById("ACR2_VO2_button");
		var statusButton23 = document.getElementById("ACR2_VO3_button");
		var statusButton24 = document.getElementById("ACR2_VO4_button");
		var statusButton25 = document.getElementById("ACR2_VO5_button");
		var statusButton31 = document.getElementById("ACR3_VO1_button");
		var statusButton32 = document.getElementById("ACR3_VO2_button");
		var statusButton33 = document.getElementById("ACR3_VO3_button");
		var statusButton34 = document.getElementById("ACR3_VO4_button");
		var statusButton35 = document.getElementById("ACR3_VO5_button");

		if (response['ACR1_VO1'] === true) {
		  statusButton11.style.backgroundColor = "#ff6363";
		  statusButton11.innerHTML = "VO 1";
		} else {
		  statusButton11.style.backgroundColor = "#f0f0f0";
		  statusButton11.innerHTML = "VO 1";
		}

		if (response['ACR1_VO2'] === true) {
		  statusButton12.style.backgroundColor = "#ff6363";
		  statusButton12.innerHTML = "VO 2";
		} else {
		  statusButton12.style.backgroundColor = "#f0f0f0";
		  statusButton12.innerHTML = "VO 2";
		}

		if (response['ACR1_VO3'] === true) {
		  statusButton13.style.backgroundColor = "#ff6363";
		  statusButton13.innerHTML = "VO 3";
		} else {
		  statusButton13.style.backgroundColor = "#f0f0f0";
		  statusButton13.innerHTML = "VO 3";
		}
		
		if (response['ACR1_VO4'] === true) {
		  statusButton14.style.backgroundColor = "#ff6363";
		  statusButton2.innerHTML = "VO 4";
		} else {
		  statusButton14.style.backgroundColor = "#f0f0f0";
		  statusButton14.innerHTML = "VO 4";
		}

		if (response['ACR1_VO5'] === true) {
		  statusButton15.style.backgroundColor = "#ff6363";
		  statusButton15.innerHTML = "VO 5";
		} else {
		  statusButton15.style.backgroundColor = "#f0f0f0";
		  statusButton15.innerHTML = "VO 5";
		}
		
		if (response['ACR2_VO1'] === true) {
		  statusButton21.style.backgroundColor = "#ff6363";
		  statusButton21.innerHTML = "VO 1";
		} else {
		  statusButton21.style.backgroundColor = "#f0f0f0";
		  statusButton21.innerHTML = "VO 1";
		}

		if (response['ACR2_VO2'] === true) {
		  statusButton22.style.backgroundColor = "#ff6363";
		  statusButton22.innerHTML = "VO 2";
		} else {
		  statusButton22.style.backgroundColor = "#f0f0f0";
		  statusButton22.innerHTML = "VO 2";
		}

		if (response['ACR2_VO3'] === true) {
		  statusButton23.style.backgroundColor = "#ff6363";
		  statusButton23.innerHTML = "VO 3";
		} else {
		  statusButton23.style.backgroundColor = "#f0f0f0";
		  statusButton23.innerHTML = "VO 3";
		}
		
		if (response['ACR2_VO4'] === true) {
		  statusButton24.style.backgroundColor = "#ff6363";
		  statusButton24.innerHTML = "VO 4";
		} else {
		  statusButton24.style.backgroundColor = "#f0f0f0";
		  statusButton24.innerHTML = "VO 4";
		}

		if (response['ACR2_VO5'] === true) {
		  statusButton25.style.backgroundColor = "#ff6363";
		  statusButton25.innerHTML = "VO 5";
		} else {
		  statusButton25.style.backgroundColor = "#f0f0f0";
		  statusButton25.innerHTML = "VO 5";
		}
		
		if (response['ACR3_VO1'] === true) {
		  statusButton31.style.backgroundColor = "#ff6363";
		  statusButton31.innerHTML = "VO 1";
		} else {
		  statusButton31.style.backgroundColor = "#f0f0f0";
		  statusButton31.innerHTML = "VO 1";
		}

		if (response['ACR3_VO2'] === true) {
		  statusButton32.style.backgroundColor = "#ff6363";
		  statusButton32.innerHTML = "VO 2";
		} else {
		  statusButton32.style.backgroundColor = "#f0f0f0";
		  statusButton32.innerHTML = "VO 2";
		}

		if (response['ACR3_VO3'] === true) {
		  statusButton33.style.backgroundColor = "#ff6363";
		  statusButton33.innerHTML = "VO 3";
		} else {
		  statusButton33.style.backgroundColor = "#f0f0f0";
		  statusButton33.innerHTML = "VO 3";
		}
		
		if (response['ACR3_VO4'] === true) {
		  statusButton34.style.backgroundColor = "#ff6363";
		  statusButton34.innerHTML = "VO 4";
		} else {
		  statusButton34.style.backgroundColor = "#f0f0f0";
		  statusButton34.innerHTML = "VO 4";
		}

		if (response['ACR3_VO5'] === true) {
		  statusButton35.style.backgroundColor = "#ff6363";
		  statusButton35.innerHTML = "VO 5";
		} else {
		  statusButton35.style.backgroundColor = "#f0f0f0";
		  statusButton35.innerHTML = "VO 5";
		}

	  }

	  // Start the interval to run the function every 2 seconds (2000 milliseconds)
	  setInterval(get_crosspoint_statuses, 2000);
	</script>
</head>
<body>
    <div class="xl-large" id="Page_Name">
        <h2>ACR VO Routing</h2>
    </div>

    <div class="ACR_1-container">
        <div>
            <h3> ACR 1 </h3>
        </div>
        <div class="ACR_1-box">
			<button id="ACR1_VO1_button" {% if crosspoint_statuses['ACR1_VO1'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR1_VO1')">VO 1</button>
			<button id="ACR1_VO2_button" {% if crosspoint_statuses['ACR1_VO2'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR1_VO2')">VO 2</button>
			<button id="ACR1_VO3_button" {% if crosspoint_statuses['ACR1_VO3'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR1_VO3')">VO 3</button>
			<button id="ACR1_VO4_button" {% if crosspoint_statuses['ACR1_VO4'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR1_VO4')">VO 4</button>
			<button id="ACR1_VO5_button" {% if crosspoint_statuses['ACR1_VO5'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR1_VO5')">VO 5</button>
        </div>
    </div>

    <div class="ACR_2-container">
        <div>
            <h3> ACR 2 </h3>
        </div>
        <div class="ACR_2-box">
			<button id="ACR2_VO1_button" {% if crosspoint_statuses['ACR2_VO1'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR2_VO1')">VO 1</button>
			<button id="ACR2_VO2_button" {% if crosspoint_statuses['ACR2_VO2'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR2_VO2')">VO 2</button>
			<button id="ACR2_VO3_button" {% if crosspoint_statuses['ACR2_VO3'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR2_VO3')">VO 3</button>
			<button id="ACR2_VO4_button" {% if crosspoint_statuses['ACR2_VO4'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR2_VO4')">VO 4</button>
			<button id="ACR2_VO5_button" {% if crosspoint_statuses['ACR2_VO5'] %}class="button-on"{% else %}class="button-off"{% endif %} onclick="handleButtonClick('ACR2_VO5')">VO 5</button>
        </div>
    </div>

    <div class="ACR_3-container">
        <div>
            <h3> ACR 3 </h3>
		</div>
		<div class="ACR_3-box">
			<button id="ACR3_VO1_button" {% if crosspoint_statuses['ACR3_VO1'] %}class="button-on"{% else %}class="button-off"{% endif %} >VO 1</button>
			<button id="ACR3_VO2_button" {% if crosspoint_statuses['ACR3_VO2'] %}class="button-on"{% else %}class="button-off"{% endif %} >VO 2</button>
			<button id="ACR3_VO3_button" {% if crosspoint_statuses['ACR3_VO3'] %}class="button-on"{% else %}class="button-off"{% endif %} >VO 3</button>
			<button id="ACR3_VO4_button" {% if crosspoint_statuses['ACR3_VO4'] %}class="button-on"{% else %}class="button-off"{% endif %} >VO 4</button>
			<button id="ACR3_VO5_button" {% if crosspoint_statuses['ACR3_VO5'] %}class="button-on"{% else %}class="button-off"{% endif %} >VO 5</button>
        </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

	  function handleButtonClick(crosspointId) {
		var button = document.getElementById(crosspointId + '_button');
		if (button.classList.contains('button-on')) {
		  // Button is currently on, turn it off
		  turnSDIOff(crosspointId);
		} else {
		  // Button is currently off, turn it on
		  turnSDIOn(crosspointId);
		}
	  }

	  function turnSDIOn(crosspointId) {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/' + crosspointId + '_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			// Request was successful, update button state to 'on'
			document.getElementById(crosspointId + '_button').classList.add('button-on');
			document.getElementById(crosspointId + '_button').classList.remove('button-off');
		  } else {
			// Request failed, handle the error if needed
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function turnSDIOff(crosspointId) {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/' + crosspointId + '_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			// Request was successful, update button state to 'off'
			document.getElementById(crosspointId + '_button').classList.add('button-off');
			document.getElementById(crosspointId + '_button').classList.remove('button-on');
		  } else {
			// Request failed, handle the error if needed
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
			
	  function handleCheckboxChange(checkbox) {
		if (checkbox.checked) {
		  if (checkbox.id === "ACR1_VO1_on") {
			ACR1_VO1_on();
		  } else if (checkbox.id === "ACR1_VO2_on") {
			ACR1_VO2_on();
		  } else if (checkbox.id === "ACR1_VO3_on") {
			ACR1_VO3_on_on();
		  } else if (checkbox.id === "ACR1_VO4_on") {
			ACR1_VO4_on_on();
		  } else if (checkbox.id === "ACR1_VO5_on") {
			ACR1_VO5_on_on();
		  }
		} else {
		  if (checkbox.id === "ACR1_VO1_on") {
			ACR1_VO1_off();
		  } else if (checkbox.id === "ACR1_VO2_on") {
			ACR1_VO2_off();
		  } else if (checkbox.id === "ACR1_VO3_on") {
			ACR1_VO3_off();
		  } else if (checkbox.id === "ACR1_VO4_on") {
			ACR1_VO4_off();
		  } else if (checkbox.id === "ACR1_VO5_on") {
			ACR1_VO5_off();
		  }
		}
	  }
  
    
	  function ACR1_VO1_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO1_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR1_VO1_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO1_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
	  
	  function ACR1_VO2_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO2_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR1_VO2_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO2_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
	  
	  function ACR1_VO3_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO3_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR1_VO3_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO3_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR1_VO4_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO4_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR1_VO4_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO4_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
	  
	  function ACR1_VO5_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO5_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR1_VO5_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR1_VO5_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO1_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO1_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO1_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO1_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
	  
	  function ACR2_VO2_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO2_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO2_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO2_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
	  
	  function ACR2_VO3_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO3_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO3_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO3_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO4_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO4_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO4_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO4_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }
	  
	  function ACR2_VO5_on() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO5_on');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

	  function ACR2_VO5_off() {
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/ACR2_VO5_off');
		xhr.send();

		xhr.onload = function() {
		  if (xhr.status === 200) {
			document.getElementById("response").innerHTML = xhr.responseText;
		  } else {
			alert('Request failed. Status: ' + xhr.status);
		  }
		};
	  }

    </script>
</body>
</html>
