html {
background: url("logo.png") no-repeat fixed, #0f0f13;
background-size: auto 1000px;
display: grid;
font-size: 20px;
}

div {
margin: 0rem 1rem;
}

button {
margin: 0rem;
}

#submit-btn, #get-ifb-list-btn, #xml_file {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; 
}

div.font1 button {
font-family: 'Lato', sans-serif;
}

div.font2 button {
font-family: "Playfair Display", "Didot", "Times New Roman", Times, serif;
}

div.font3 button {
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

div.font4 button {
font-family: Consolas, monaco, monospace;
}

h1, h2, h3, h4, h5 {
  color: #f5f5f5;
  border-color: #dd0000;
  font-family: 'Public Sans', sans-serif;
  font-weight: 900;
  margin: 1.5rem 0 0.5rem 0;
  line-height: 0.9;
  transition: all 250ms linear;
  font-variation-settings: 'wght' 50, 'wdth' 500;
}

pre {
  color: #f5f5f5;
  border-color: #dd0000;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1;
  transition: all 250ms linear;
  font-variation-settings: 'wght' 50, 'wdth' 500;
}

input {
  color: #dd0000;
  border-color: #dd0000;
  font-family: 'Public Sans', sans-serif;
  font-weight: 900;
  margin: 1.5rem 0 0.5rem 0;
  line-height: 0.9;
  transition: all 250ms linear;
  font-variation-settings: 'wght' 50, 'wdth' 500;
}

h1 {
font-size: 4.0rem;
margin: 0;
text-transform: uppercase;
line-height: 0.9;
transition: all 250ms linear;
font-variation-settings: 'wght' 50, 'wdth' 500;
}

button.esbtn_blue {
color: #fff;
border-color: #2196f3;
background: #dd0000;
margin-top: 0.4rem;
max-width: 10rem;
height: 2.5rem;
padding: 0.5rem 1rem;
display: inline-block;
font-weight: 700;
line-height: 1.2rem;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
font-size: 1rem;
border-radius: 0.25rem;
border-width: 1px;
outline: none;
overflow: hidden;
cursor: pointer;
}

.button6 {
opacity: 0.4;
transition: opacity 2s linear;
transition: border-color 2s linear;
}

.button6:hover {
opacity: 1;
border-color: lighten(#2196f3, 7%);
}
